.wrapperHome{
    min-height: 660px;
    padding-top: 30px;
    padding-bottom: 5px;
    background: url('./Main.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}


.firstPageLogo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

