.logo_title{
    display: block;
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    margin: 0 auto;
    width: 110px;
    margin-top: 80px;
}
.wrapper{
    width: 100%;
}

.secIcon{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
